body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to bottom, var(--primary-color), var(--secundary-color));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden; 
}

:root{
  --primary-color: #c0c0c0;
  --secundary-color: #f5f5f5;
  --terciary-color: #ffffff;
  --text-color-principal: #000000;
  --text-color-secundary: #747474;
  --text-color-terciary: #473400;
  --color-button: #9dc1f7;
}


#game-container {
  position: relative;
  background: var(--terciary-color);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.767);
  width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 280px;
  top: 30px;
}

#game-container:hover {
  
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}

/* Estilo para h2 */
h2 {
  font-size: 27px; 
  color: var(--text-color-principal); 
  top: 20px;
  margin-bottom: 20px;
  position: relative; 
  padding-bottom: 10px; 
  justify-content: center;
  text-align: center;
  font-weight: 500; 
  text-shadow: 1px 1px 5px var(--text-color-terciary);
}

h2::after {
  content: ""; 
  display: block; 
  width: 100%; 
  height: 4px; 
  background: linear-gradient(to left, var(--primary-color), var(--secundary-color));
  position: absolute; 
  left: 0; 
  bottom: 0; 
  
}

/* Estilo para h3 */
h3 {
  position: relative;
  top: 50px;
  padding-bottom: 10px;
  font-size: 18px; 
  color: var(--text-color-secundary); 
  margin-bottom: 15px; 
  font-weight: 500; 
  text-align: center;
}

h3::after {
  content: ""; 
  display: block; 
  width: 100%; 
  height: 4px; 
  background: linear-gradient(to left, var(--primary-color), var(--secundary-color) );
  position: absolute; 
  left: 0; 
  bottom: 0; 
}




h6 {
  font-size: 10px; 
  color: var(--text-color-secundary); 
  top: 70px;
  margin-bottom: 20px;
  position: relative; 
  padding-bottom: 10px; 
  justify-content: center;
  text-align: center;
  font-weight: 500; 
}


a {color: var(--text-color-secundary);
}


#guess-input{
  position: relative;
  font-size: 14px; 
  color: var(--text-color-secundary); 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.459); 
  background-color: var(--terciary-color); 
  transition: border-color 0.3s, box-shadow 0.3s;
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  width: 180px;
  right: 60px;
}

#guess-input:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.247); 
  background-color: var(--terciary-color); 
  transition: border-color 0.3s, box-shadow 0.3s;

}

#guess-button{
  position: relative;
  left: 210px;
   width: 90px;
   top: -60px;
}

/* Estilo para o input de username */
input[type="text"] {
  text-align: center;
  width: 90%; 
  padding: 12px 15px; 
  border: none; 
  border-radius: 5px; 
  font-size: 16px; 
  color: #333; 
  box-shadow: 0 0 5px rgb(0, 0, 0); 
  background-color: var(--terciary-color); 
  transition: border-color 0.3s, box-shadow 0.3s; 
}

/* Efeito de foco no input */
input[type="text"]:focus {
  border-color: none; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
  outline: none; 
}

/* Estilo para o placeholder */
input[type="text"]::placeholder {
  color: var(--text-color-secundary);
  opacity: 1; 
  font-style: italic;
}

h1 {
  color: var(--text-color-principal);
  font-size: 24px;
  margin-bottom: 15px;
}

p {
  color: var(--text-color-secundary);
  margin-bottom: 10px;
}

input[type="number"] {
  border: none;
  outline: none;
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid var(--text-color-secundary);
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  box-shadow: none;
}

button {
  position: relative;
  background-color:var(--color-button);
  color: var(--terciary-color);
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 16px;
  display: flex; 
  justify-content: center; 
  align-items: center;
  width: 100%;
  top: 30px;
  
}

button:hover {
  background-color:var(--color-button);
  transform: scale(1.05);
  
}

button:disabled {
  background-color: var(--text-color-secundary);
  cursor: not-allowed;
}



/* Estilo do Modal */
#game-modal{
  position: fixed; 
  z-index: 1000; /* Z-index alto para os modais */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.5); 
  display: none;
  z-index: 10001;
}

.modal-content {
  background-color: var(--terciary-color); 
  margin: auto; /* Centraliza o modal */
  padding: 20px;
  border-radius: 10px ; 
  width: 400px; 
  height: 450px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.534);
  z-index: 10001;
  position: relative; 
  top: 50px;
  
}

.close-button {
  color: var(--text-color-secundary);
  float: right; 
  font-size: 28px; 
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black; 
  cursor: pointer; 
}

#result-message {
  position: relative;
  color: var(--text-color-principal);
  top: -40px;
  font-weight: italic;
}

#restart-button {
  position: relative;
  margin-left: 90px;
  background-color: var(--color-button);
  display: none; /* Mantém oculto inicialmente */
  width: 110px;
  position: relative;
  margin-top: -60px;
  
}

#restart-button:hover {
  background-color: var(--color-button);}

#user-info-container {
  position: fixed;
  top: -10px;
  left: 12%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 190px;
  
}

#attempts, #score {
  font-weight: bold;
  margin: 5px 0; 
}

#attempts {
  font-size: 14px;
  color: var(--text-color-principal);
}

#score {
  font-size: 14px;
  color: var(--text-color-terciary);
}

#avatar-selection {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin: 10px 0;
}

.avatar-row {
  display: flex; 
  justify-content: center; 
  margin: 5px 0; 
}

.avatar-option {
  margin: 0 5px; 
  cursor: pointer; 
}


.avatar-option {
  position: relative;
  width: 50px; 
  height: 50px; 
  margin: 0 10px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%; 
  transition: border 0.3s ease;
  top: 70px;
}

.avatar-option:hover {
  border: 2px solid var(--color-button); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.avatar-option.selected {
  border-color: var(--color-button); 
  transform: scale(1.1); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#avatar {
  margin-top: 10px;
  width: 60px; 
  height: 60px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border-color: var(--color-button); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Não interfere em cliques */
  overflow: hidden; /* Esconde os confetes que saem da tela */
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--text-color-principal); /* Cor padrão */
  opacity: 0.8;
  animation: fall linear forwards;
}

@keyframes fall {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh) rotate(360deg); /* Cai da parte superior */
  }
}





/* Media query para telas de até 469px */
@media (max-width: 469px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; 
  }

  .modal-content {
    margin-top: -50px;
  }
  
  #user-info-container {
    top: -10px;
    margin-left: 50px;
    position: fixed;
  }

  /* Ajusta o título */
  h2 {
    font-size: 22px;
  }

  #game-container {
    width: 80%; 
    padding: 20px;
    top: 270px;
    position: fixed;
  }

  /* Ajusta o input e botão */
  #guess-input {
    font-size: 16px; 
    width: 160px;
    margin: 10px 0;
    right: 50px;
  }

  #guess-button {
    width: 24%; 
    left: 220px;
    margin-top: 10px;
  }

  /* Ajusta o botão de reinício */
  #restart-button {
    width: 30%;
    margin-left: 120px;
    margin-bottom: 40px;
  }

  /* Ajuste para o botão de fechar */
  .close-button {
    font-size: 24px;
  }

  /* Ajusta o avatar */
  #avatar {
    position: relative;
    width: 50px;
    height: 50px;
  }

  #avatar-selection {
    margin-top: 80px;
  }

  h6 {
    position: relative;
    top: 40px;
    z-index: 1000;
  }

  .avatar-option {
    width: 40px;
    height: 40px;
    top: 0;
  }
}

/* Media query para telas de até 1024px */
@media (max-width: 1024px) {
  .modal-content {
    position: relative;
    top: 150px;
    width: 80%; 
    height: 510px; 
    padding: 30px;
  }

  h6 {
    right: 0%;
    position: relative;
    margin-top: 50px;
    z-index: 1000;
  }
}
