body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to bottom, #a8edea, #fed6e3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


#game-container {
  position: relative;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.767);
  width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 280px;
  top: -20px;
}

#game-container:hover {
  
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}

/* Estilo para h2 */
h2 {
  font-size: 27px; 
  color: #333; 
  top: 20px;
  margin-bottom: 20px;
  position: relative; 
  padding-bottom: 10px; 
  justify-content: center;
  text-align: center;
  font-weight: 500; 
  text-shadow: 1px 1px 5px rgba(74, 144, 226, 0.5);
}

h2::after {
  content: ""; 
  display: block; 
  width: 100%; 
  height: 4px; 
  background: linear-gradient(to left, #fed6e3, #a8edea);
  position: absolute; 
  left: 0; 
  bottom: 0; 
  
}

/* Estilo para h3 */
h3 {
  position: relative;
  top: 50px;
  padding-bottom: 10px;
  font-size: 18px; 
  color: #555; 
  margin-bottom: 15px; 
  font-weight: 500; 
  text-shadow: 1px 1px 5px rgba(74, 144, 226, 0.5);
  text-align: center;
}

h3::after {
  content: ""; 
  display: block; 
  width: 100%; 
  height: 4px; 
  background: linear-gradient(to left, #fed6e3, #a8edea);
  position: absolute; 
  left: 0; 
  bottom: 0; 
}

#guess-input{
  position: relative;
  font-size: 14px; 
  color: #aaaaaa; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.459); 
  background-color: #ffff; 
  transition: border-color 0.3s, box-shadow 0.3s;
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  width: 180px;
  right: 60px;
}

#guess-input:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.247); 
  background-color: #ffff; 
  transition: border-color 0.3s, box-shadow 0.3s;

}

#guess-button{
  position: relative;
  left: 210px;
   width: 90px;
   top: -60px;
}

/* Estilo para o input de username */
input[type="text"] {
  text-align: center;
  width: 90%; 
  padding: 12px 15px; 
  border: none; 
  border-radius: 5px; 
  font-size: 16px; 
  color: #333; 
  box-shadow: 0 0 5px rgb(0, 0, 0); 
  background-color: #ffff; 
  transition: border-color 0.3s, box-shadow 0.3s; 
}

/* Efeito de foco no input */
input[type="text"]:focus {
  border-color: none; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
  outline: none; 
}

/* Estilo para o placeholder */
input[type="text"]::placeholder {
  color: #aaa;
  opacity: 1; 
  font-style: italic;
}

h1 {
  color: #1bd6a8;
  font-size: 24px;
  margin-bottom: 15px;
}

p {
  color: #b4b4b4;
  margin-bottom: 10px;
}

input[type="number"] {
  border: none;
  outline: none;
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  box-shadow: none;
}

button {
  position: relative;
  background: linear-gradient(to bottom, #a8edea, #fed6e3);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 16px;
  display: flex; 
  justify-content: center; 
  align-items: center;
  width: 100%;
  top: 30px;
  
}

button:hover {
  background: linear-gradient(to bottom, #fed6e3, #a8edea);
  transform: scale(1.05);
  
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}



/* Estilo do Modal */
#game-modal{
  position: fixed; 
  z-index: 1000; /* Z-index alto para os modais */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.5); 
  display: none;
  z-index: 10001;
}

.modal-content {
  background-color: white; 
  margin: auto; /* Centraliza o modal */
  padding: 20px;
  border-radius: 10px ; 
  width: 400px; 
  height: 450px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.534);
  z-index: 10001;
  position: relative; 
  top: 50px;
  
}

.close-button {
  color: #aaa;
  float: right; 
  font-size: 28px; 
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black; 
  cursor: pointer; 
}

#result-message {
  position: relative;
  color: #f0c127;
  top: -40px;
  font-weight: italic;
}

#restart-button {
  position: relative;
  margin-left: 90px;
  background-color: #f5f790;
  display: none; /* Mantém oculto inicialmente */
  width: 110px;
  position: relative;
  margin-top: -60px;
  
}

#restart-button:hover {
  background-color: #f0c2f7;
}

#user-info-container {
  position: absolute;
  top: -10px;
  left: 10%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#attempts, #score {
  font-weight: bold;
  margin: 5px 0; /* Espaçamento entre as linhas */
}

#attempts {
  font-size: 14px;
  color: #a3c6ec;
}

#score {
  font-size: 14px;
  color: #4CAF50;
}

#avatar-selection {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin: 10px 0;
}

.avatar-row {
  display: flex; 
  justify-content: center; 
  margin: 5px 0; 
}

.avatar-option {
  margin: 0 5px; 
  cursor: pointer; 
}


.avatar-option {
  position: relative;
  width: 50px; 
  height: 50px; 
  margin: 0 10px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%; 
  transition: border 0.3s ease;
  top: 70px;
}

.avatar-option:hover {
  border: 2px solid #f0c127; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.avatar-option.selected {
  border-color: #a3c6ec; 
  transform: scale(1.1); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#avatar {
  margin-top: 10px;
  width: 60px; 
  height: 60px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border-color: #a3c6ec; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Não interfere em cliques */
  overflow: hidden; /* Esconde os confetes que saem da tela */
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(133, 206, 211); /* Cor padrão */
  opacity: 0.8;
  animation: fall linear forwards;
}

@keyframes fall {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh) rotate(360deg); /* Cai da parte superior */
  }
}

